In [1]:
from power_grid_model_io.obj import InputGrid, UpdateGrid, OutputGrid
from power_grid_model import PowerGridModel
import pandas as pd

In [2]:
input_data = InputGrid()

input_data.nodes.initialize(3)
input_data.nodes.id = [1, 2, 3]
input_data.nodes.u_rated = [10.5]

input_data.lines.initialize(2)
input_data.lines.id = [4, 5]
input_data.lines.from_node = [1, 2]
input_data.lines.to_node = [2, 3]


model = PowerGridModel(input_data)

output_data = OutputGrid(model.calculate_power_flow())

display(output_data.nodes.as_df())

   id  energized  u_pu    u  u_angle
0   1          0   0.0  0.0      0.0
1   2          0   0.0  0.0      0.0
2   3          0   0.0  0.0      0.0

In [3]:
update_data = UpdateGrid()

update_data.lines.initialize([1, 2, 1])
update_data.lines[0]["id"] = [4]
update_data.lines[1]["id"] = [4, 5]
update_data.lines[2]["id"] = [5]
update_data.lines[0]["from_status"] = [0]
update_data.lines[1]["from_status"] = [0, 0]
update_data.lines[2]["from_status"] = [0]

display(pd.DataFrame(update_data.lines[0]))
display(pd.DataFrame(update_data.lines[1]))
display(pd.DataFrame(update_data.lines[2]))

output_data = OutputGrid(model.calculate_power_flow(update_data=update_data))

display(pd.DataFrame(output_data.nodes[0]))
display(pd.DataFrame(output_data.nodes[1]))
display(pd.DataFrame(output_data.nodes[2]))

   id  from_status  to_status
0   4            0       -128

   id  from_status  to_status
0   4            0       -128
1   5            0       -128

   id  from_status  to_status
0   5            0       -128

   id  energized  u_pu    u  u_angle
0   1          0   0.0  0.0      0.0
1   2          0   0.0  0.0      0.0
2   3          0   0.0  0.0      0.0

   id  energized  u_pu    u  u_angle
0   1          0   0.0  0.0      0.0
1   2          0   0.0  0.0      0.0
2   3          0   0.0  0.0      0.0

   id  energized  u_pu    u  u_angle
0   1          0   0.0  0.0      0.0
1   2          0   0.0  0.0      0.0
2   3          0   0.0  0.0      0.0